.modal-title {
    text-align: center;
}

.modal-body {
    display: grid;
    grid-template-columns: 1fr [column-start];
    grid-auto-flow: column;
    grid-gap: 10px;
    height: 650px;
}

.modal-body-row {
    grid-column: 1 / end;

    display: grid;
    grid-template-columns: 70px [checkbox] 70px [profile-pic] 1fr [name];
    grid-gap: 10px;
}

.modal-body-row > div > img {
    height: 70px;
    width: 70px;
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr [column-start] 1fr [column-start];
    grid-template-rows: 1fr [row-start];
    grid-gap: 10px;

    height: 100px;
}

.modal-send {
    grid-column: 1 / 2;
    grid-row: 1 / end;
}

.modal-cancel {
    grid-column: 2 / end;
    grid-row: 1 / end;
}